# requirements.yml
# NOTE: this is a pip requirements file
# This file specifies dependencies required for the SLAB module.

#! Some functionality requires RDKit a Python >3.8.8 Conda environment:
# https://www.rdkit.org/docs/Install.html

#list of dependencies
wheel
numpy # may require some version of numpy
matchms
matplotlib
lxml
pandas
sqlalchemy
# pynumpress
pyteomics
matplotlib
scipy